.inner {
	float: none!important;
	/* position: absolute; */
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: auto;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden
}
ul.menu {
	list-style: none;
	margin: 0;
	padding: 0
}
ul.menu>li {
	position: relative;
	float: none!important;
	display: block;
	margin: 0;
	padding: 0
}
ul.menu>li>a {
	display: block;
	text-decoration: none;
	position: relative;
	font-weight: 600;
	font-size: 15px;
	color: #000;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 5px
}
ul.menu>li.active>a,
ul.menu>li.parent-showsub>a,
ul.menu>li:hover>a,
ul.menu>li[class*=current]>a {
	color: #141ED2
}
ul.menu .wrapul li.active>a,
ul.menu .wrapul li.parent-showsub>a,
ul.menu .wrapul li:hover>a,
ul.menu .wrapul li[class*=current]>a,
ul.menu li>ul li.active>a,
ul.menu li>ul li.parent-showsub>a,
ul.menu li>ul li:hover>a,
ul.menu li>ul li[class*=current]>a {
	color: #141ED2
}