html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
.setzindex {
  z-index: 999;
}

.mcontent {
  margin-top: 54px;
}
.react-multi-carousel-list .item {
  width: 90%;
}
.react-multi-carousel-item {
  margin-bottom: 5px;
}
.item-2 .btn .icon-image {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 25px;
}
.react-multi-carousel-list .react-multiple-carousel__arrow--left::before,
.react-multi-carousel-list .react-multiple-carousel__arrow--right::before {
  content: '\e900';
}
.react-multi-carousel-list .react-multiple-carousel__arrow::before {
  color: #141ed2;
}
.react-multi-carousel-list .react-multiple-carousel__arrow {
  border: 1px solid #141ed2;
  background: #fff;
}
.react-multi-carousel-list .react-multiple-carousel__arrow::before {
  font-family: 'icomoon' !important;
}
.react-multi-carousel-list .react-multiple-carousel__arrow:hover {
  color: #9be6c8;
  border-color: #9be6c8;
  background: #fff;
}
.react-multi-carousel-list .react-multiple-carousel__arrow:hover::before {
  color: #9be6c8;
}
.react-multiple-carousel__arrow--left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media only screen and (max-width: 575px) {
  .sec-h-2 .list-2 .item-2 .btn .icon-image {
    display: none;
  }
}
