html {
  scroll-behavior: smooth;
}
.table table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
}
.widget-default h4 {
  padding: 5px;
  color: #333333;
  background-color: #e0f0ff;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  line-height: normal;
}
.widget-default figure th {
  text-align: left;
  vertical-align: top;
  border: 0;
}
.widget-contact {
  border-radius: 8px;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.08);
  padding: 15px;
}
.widget-contact h3 {
  color: #141ed2;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1200px) {
  .widget-contact {
    padding: 30px;
  }
  .widget-contact h3 {
    margin-top: 30px;
  }
  .widget-contact .phone {
    font-weight: 600;
    font-size: 18px;
  }
}
.widget-default figure td {
  text-align: left;
  vertical-align: top;
  border: 0;
}
/* .widget-default figure table td {
  text-align: left;
  vertical-align: top;
} */

.table table td,
.table table th {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}
.table-full {
  background-color: #f8f8f8;
  border-radius: 8px;
  font-size: 14px;
  overflow: hidden;
  min-width: 600px;
}

.table-full table td,
.table-full table th {
  padding: 10px;
  vertical-align: middle;
}

.table-full table th {
  background-color: #e0f0ff;
  color: #333333;
  font-size: 16px;
  text-align: center;
  height: 70px;
}

.table-full table th:nth-child(2) {
  max-width: 300px;
}

.table-full table td {
  height: 90px;
  border-top: 2px solid #fff;
}

.table-full table td:not(:first-child) {
  border-left: 2px solid #fff;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
.setzindex {
  z-index: 999;
  position: relative;
}

.mcontent {
  margin-top: 54px;
}
.react-multi-carousel-list .item {
  width: 90%;
}
.react-multi-carousel-list{
  position: static;
}
.react-multi-carousel-item {
  margin-bottom: 5px;
}
.item-2 .btn .icon-image {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 25px;
}
.list-menu-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.react-multi-carousel-list .react-multiple-carousel__arrow--left{
  left: -50px;
}
.react-multi-carousel-list .react-multiple-carousel__arrow--right{
  right: -50px;
}
.react-multi-carousel-list .react-multiple-carousel__arrow--left::before,
.react-multi-carousel-list .react-multiple-carousel__arrow--right::before {
  content: '\e900';
}
.react-multi-carousel-list .react-multiple-carousel__arrow::before {
  color: #141ed2;
}
.react-multi-carousel-list .react-multiple-carousel__arrow {
  border: 1px solid #141ed2;
  background: #fff;
}
.react-multi-carousel-list .react-multiple-carousel__arrow::before {
  font-family: 'icomoon' !important;
}
.react-multi-carousel-list .react-multiple-carousel__arrow:hover {
  color: #9be6c8;
  border-color: #9be6c8;
  background: #fff;
}
.react-multi-carousel-list .react-multiple-carousel__arrow:hover::before {
  color: #9be6c8;
}
.react-multiple-carousel__arrow--left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media only screen and (max-width: 575px) {
  .sec-h-2 .list-2 .item-2 .btn .icon-image {
    display: none;
  }
}
.sec-tuvan .rendered-form {
  text-align: center;
}
.sec-tb {
  padding: 30px 0;
}
.stylebuttonopen {
  background-color: #141ed2;
  border: none;
}

.rendered-form textarea {
  padding: 10px 15px;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}
.rendered-form .form-group {
  margin-bottom: 0;
}
.sec-download-pc {
  height: 156px;
}
.blog-item-social li {
  margin: 0 6px 4px;
}
.style-colummb {
  height: 150px;
}
.styleht {
  font-size: 24px;
  font-weight: bold;
}

.widget-ndt {
  background-color: #f9f9f9;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.08);
  padding: 15px;
  height: 100%;
  font-size: 16px;
}
.widget-ndt .numbs {
  color: #39c689;
  position: relative;
  padding-right: 70px;
}
.widget-ndt .desc {
  color: #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 10px;
}
.widget-ndt ul.list {
  list-style: none;
}
.widget-ndt .numbs .t1 {
  font-size: 42px;
  font-weight: 700;
}
.widget-ndt .numbs .t2 {
  font-size: 18px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 0;
  width: 70px;
  font-weight: 600;
}
.widget-ndt ul.list .t1 {
  float: left;
}
.widget-ndt ul.list .t2 {
  float: right;
  font-size: 18px;
}
.sec-dt-2 .list-download {
  max-height: 300px;
  overflow: auto;
}

.menu_item {
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.cttab-v3 .tab-menu {
  margin-bottom: 30px;
  list-style: none;
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.inline-table .c100 {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.inline-table.w100 {
  width: 100%;
}

.inline-table {
  display: inline-table;
}

.inline-table .ctext:first-child {
  padding-right: 20px;
}
.inline-table .ctext {
  width: 30px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  white-space: nowrap;
}
.searchform {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.searchform .textinput {
  padding: 0 40px 0 15px;
  height: 100%;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.searchform button {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  width: 35px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.mb-40 {
  margin-bottom: 40px;
}
.accodion-1 .accodion-tab {
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 23px 0 rgba(20, 30, 210, 0.06);
  box-shadow: 0 0 23px 0 rgba(20, 30, 210, 0.06);
}

.accodion-tab {
  width: 100%;
  overflow: hidden;
}

[class*='max'] {
  margin-left: auto !important;
  margin-right: auto !important;
}

.accodion-1 .accodion-tab > [class*='-title'] {
  padding: 15px 15px 15px 56px;
  font-weight: 600;
  color: #333333;
  margin: 0;
}

.accodion-tab > [class*='-title'] {
  display: block;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.no-borber {
  border-bottom: 0 !important;
}

@media only screen and (min-width: 992px) {
  .accodion-1 .accodion-tab > [class*='-title'] {
    padding: 30px 30px 30px 76px;
  }
}

.ajax-content-map {
  padding: 40px;
  /* position: relative;
  z-index: 999; */
}
.fix-select {
  z-index: 99;
}

.fix-select1 {
  z-index: 90;
}

.ajax-content-map ul.menu li.active .item {
  font-weight: 600;
}

.ajax-content-map ul.menu li.active .item:after {
  content: '';
}
.ajax-content-map ul.menu .item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #9be6c8;
}

.ajax-content-map ul.menu {
  margin-bottom: 15px;
}
.ajax-content-map ul.menu .item {
  color: #333333;
  font-size: 16px;
  text-align: center;
  padding: 15px 5px;
  line-height: normal;
  display: block;
  cursor: pointer;
}

.form-search-focus {
  position: relative;
  background: #f3f3f3;
  border-radius: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.form-search-focus input {
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 2;
  border: none;
  background-color: transparent;
  display: block;
  padding-left: 20px;
  width: 100%;
}

.form-search-focus button {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  border: none;
  background: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .form-search-focus input {
    opacity: 1;
    padding-right: 48px;
  }
}

@media only screen and (min-width: 1200px) {
  .form-search-focus input {
    opacity: 1;
    padding-right: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .map-list-store {
    max-height: 300px;
  }
}

.map-list-store {
  overflow: auto;
}

.map-list-store .item {
  cursor: pointer;
}

.map-list-store .item .address {
  margin-bottom: 5px;
}

.map-list-store .item .title {
  color: #a0d1ff;
  margin-bottom: 5px;
}

.map-list-store .item .title:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: inline-block;
  background-color: #a0d1ff;
  position: relative;
  margin-right: 5px;
  top: 2px;
}
.map-list-store .item.color-2 .title {
  color: #b4a5fa;
}

.map-list-store .item.color-2 .title:before {
  background-color: #b4a5fa;
}
.map-list-store .item.color-3 .title {
  color: #9ce6c6;
}
.map-list-store .item.color-3 .title:before {
  background-color: #9ce6c6;
}
