@import './block.scss';
@import './new.scss';
@import './menu.scss';
@import './tab.scss';
@import './question.scss';
@import './rate.scss';
@import './icon.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

#__next {
  font-family: Arial, Helvetica, sans-serif;
}
.main_content {
  margin-top: 80px;
}

.sec-b {
  padding-bottom: 70px;
}

.sec-tb {
  padding: 70px 0;
}

.row.list-item > [class*='col-'] {
  margin-bottom: 30px;
}

.entry-head {
  margin-bottom: 40px;
  position: relative;
}

.arrow-next {
  width: 32px !important;
  height: 32px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit;
  font-weight: 600;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px !important;
  line-height: 1.4 !important;
  text-transform: uppercase !important;
}
h2 {
  font-size: 24px !important;
  text-transform: uppercase !important;
}
h3 {
  font-size: 18px !important;
}
h4 {
  font-size: 16px !important;
}
h5 {
  font-size: 16px !important;
}
h6 {
  font-size: 16px !important;
}
